---
development:
  dialect: "sqlite3"
  database: {{.Root}}{{.Name}}_development.sqlite

test:
  dialect: "sqlite3"
  database: {{.Root}}{{.Name}}_test.sqlite

production:
  dialect: "sqlite3"
  database: {{.Root}}{{.Name}}_production.sqlite