package models

import (
	"log"

	"github.com/gobuffalo/envy"
	"github.com/gobuffalo/pop/v5"
)

var (
    // DB is a connection to your database to be used
    // throughout your application.
    DB *pop.Connection

    env = envy.Get("GO_ENV", "development")
)

func init() {
	var err error
	DB, err = pop.Connect(env)
	if err != nil {
		log.Fatal(err)
	}

	pop.Debug = env == "development"
}